<ul class="list-group text-left">
  <% teams.each do |team| %>
    <%= link_to team_path(team.id), class: "link_to_question" do %>
      <li class="list-group-item">
        <% if team.icon.attached? %>
          <%= image_tag team.icon.variant(resize:'50x50').processed %>
        <% end %>
        <%= team.name %>
      </li>
    <% end %>
  <% end %>
</ul>
