<ul class="list-group">
  <% teams.each do |team| %>
    <%= link_to team_path(team.id), class: "list_link" do %>
      <li class="list-group-item">
        <% if team.icon.attached? %>
          <%= image_tag team.icon.variant(resize:'50x50').processed %>
        <% end %>
        <%= team.name %>
        <% if current_user == team.owner %>
          <i class="fas fa-crown"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
