<div class="field">
  <%= link_to t("activerecord.models.task")+t("crud.new"),
      new_task_path(drawing_id: @drawing.id), class: "btn btn-primary btn-block mb-1" %>
</div>
<%= render partial: "tasks/table", locals: { tasks: @drawing.tasks } %>
