<div class="jumbotron text-center">
  <h2><%= t("activerecord.models.drawing") %><%= t("crud.new") %></h2>
</div>

<ul class="list-group container">
  <li class="list-group-item">
    図面の情報を登録できます。図面の登録前に、ヘッダーの『登録』から客先・プロジェクト・カテゴリーを登録して下さい。
  </li>
</ul>

<%= render "form" %>
