<h2><%= t("activerecord.models.revision") %><%= t("crud.index") %></h2>
<table>
  <%= render "table_head" %>
  <tbody>
    <%= render partial: "table_body", collection: @revisions, as: "revision" %>
  </tbody>
</table>
