<%= month_calendar events: tasks, attribute: :deadline do |date, tasks| %>
  <%= date.day %>
  <% tasks.each do |task| %>
    <div>
      <%= link_to task.title, task %>
    </div>
  <% end %>
<% end %>
