<div class="top-image">
  <h1 class="app-title">Drawing Management</h1>
  <div class="copy">
    <h4><strong>「リモートで働こう！」</strong></h4>
    <div class="lead">
      Drawing Management は設計業向けに開発された図面管理サービスです<br>
        図面の管理だけでなく、報連相をオンライン化することが可能です<br>
        　設計業のリモート化をしてみませんか？
    </div>
  </div>
</div>
