<ul class="list-group">
  <% @team.team_assigns.each do |team_assign| %>
    <% if team_assign.id.present? %>
      <%= link_to user_path(team_assign.user.id), class: "list_link" do %>
        <li class="list-group-item">
          <% if team_assign.user.icon.attached? %>
            <%= image_tag team_assign.user.icon.variant(resize:'50x50').processed %>
          <% end %>
          <%= team_assign.user.name %>
          <object>
            <%= link_to t("crud.destroy"), team_assign_path(id: team_assign.id), method: :delete, remote: true,
                      data: { confirm: I18n.t("confirm.destroy")} %>
          </object>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
