.top-image {
  background-image: image-url(image-path('top_image.jpg'));
  background-size: cover;
  background-position: top;
  min-height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.app-title {
  text-align: center;
  position: relative;
  font-size: 7rem;
  padding-top: 25rem;
  color: #fff;
  text-shadow:1px 1px 0 #000000,
              -1px -1px 0 #000000,
              -1px 1px 0 #000000,
              1px -1px 0 #000000,
              0px 1px 0 #000000,
              0-1px 0 #000000,
}

.copy {
  text-align: center;
  background: rgba(0, 0, 0, .6);
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem 0;
  margin-top: 4rem;
  position: relative;
}
